force-app/main/default/flows/Project_to_In_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Failed_Project</name>
        <label>Add Failed Project</label>
        <locationX>528</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>ProjectsFailed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Projects_To_Empty_Collection</name>
        <label>Add Projects To Empty Collection</label>
        <locationX>264</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>ProjectsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_field_value</name>
        <label>Assign new field value</label>
        <locationX>264</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Projects_To_Empty_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Validation_Hours</name>
        <label>Check Validation Hours</label>
        <locationX>528</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Failed_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Validation_Profit</name>
        <label>Check Validation Profit</label>
        <locationX>792</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Failed_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Validation_Squad_Lead</name>
        <label>Check Validation Squad Lead</label>
        <locationX>1056</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Squad_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_Failed_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Failed_Project</name>
        <label>Copy 1 of Add Failed Project</label>
        <locationX>792</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ProjectsFailed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_Failed_Project</name>
        <label>Copy 2 of Add Failed Project</label>
        <locationX>1056</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ProjectsFailed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Projects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_unckeck_validation</name>
        <label>Copy 2 of unckeck validation</label>
        <locationX>264</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_field_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Validation_Squat</name>
        <label>Uncheck Validation Squat</label>
        <locationX>594</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Squad_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loss_or_Profit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unckeck_Validation_Profit</name>
        <label>Unckeck Validation Profit</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_Projects.Validation_Profit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hours_Covered</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_it_have_Squad_Lead</name>
        <label>Does it have Squad Lead?</label>
        <locationX>825</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Squad_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Projects.Squad_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Validation_Squat</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hours_Covered</name>
        <label>Hours Covered?</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Projects.Total_Hours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Projects.Completed_Hours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_unckeck_validation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loss_or_Profit</name>
        <label>Loss or Profit?</label>
        <locationX>594</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Validation_Profit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loss</defaultConnectorLabel>
        <rules>
            <name>Profit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Projects.Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Projects.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unckeck_Validation_Profit</targetReference>
            </connector>
            <label>Profit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project to In Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project to In Progress</label>
    <loops>
        <name>Loop_Projects</name>
        <label>Loop Projects</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_it_have_Squad_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Faied</name>
        <label>Update Failed</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <inputReference>ProjectsFailed</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Projects</name>
        <label>Update Projects</label>
        <locationX>176</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Update_Faied</targetReference>
        </connector>
        <inputReference>ProjectsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectsFailed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
